/* Estilo principal de la aplicación */
.App {
  text-align: center;
}

/* Encabezado con diseño en columnas */
.App-header {
  background-color: #2C2C2C;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye el espacio entre el logo y el menú */
  padding: 0 20px; /* Espacio en los bordes del encabezado */
  color: #a9a9a9;
  position: relative;
}

/* Logo del encabezado */
.logo {
  font-size: 1.5em; /* Tamaño del logo, ajusta según sea necesario */
  color: white; /* Color del logo */
}

/* Estilo para el menú de navegación */
nav {
  display: flex; /* Alinea los elementos dentro del contenedor de navegación */
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Alinea los elementos horizontalmente */
}

.tabs li {
  margin: 0 10px; /* Espacio horizontal entre los botones */
}

.tabs a {
  color: #a9a9a9;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
}

.tabs a:hover {
  background-color: #a9a9a9;
  color: white;
}

.tabs a.active {
  background-color: #2C2C2C;
  color: white;
  border-color: #2C2C2C;
}
